/*ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px yellow;
    transform: scale(1.05);
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: yellow;
}

body {
    background-color: black;
    height: 100;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}


.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: yellow;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
}

/* estilo do cabeçalho */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav.menu-desktop ul li {
    padding: 0 40px;
    display: inline-block;
}

/* menu- mobile */
.menu-mobile{
height: 100vh;
position: fixed;
top: 0;
right:0;
z-index: 999999;
width: 70%;
background-color: black;
width: 0%;
overflow: hidden;
transition: .5s;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: yellow;
    color: black;
}
.menu-mobile .btn-fechar {
    padding: 20px 6%;
}

.menu-mobile .btn-fechar i{
 color: yellow;
 font-size: 30px;
}

.btn-abrir-menu i {
    color: yellow;
    font-size: 40px;
}
.overlay-menu{
    background-color: rgba(0, 0, 0, 0.671);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

/* estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span {
    color: yellow;
    font-size: 84px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* MAQUINA DE ESCREVER */
@keyframes escrever {
    from {
        width: 0;

    }

}

@keyframes piscando {
    50% {
        border-color: transparent;

    }

}

/*  */

@keyframes flutuar {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: 100px;
        left: 100px;
    }
}

/* ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff81;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: yellow;

}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* estilo do sobre */

section.sobre {
    padding: 80px 4%;
}

.sobre .txt-sobre {
    color: #fff;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: yellow;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: yellow;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* portifolio */
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff36;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.596);
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* FALA COMIGO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgba(92, 88, 88, 0.514);
    border: none;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: yellow;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* RODAPE*/
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff36;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

footer .line-footer p i {
    color: yellow;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    text-decoration: none;
}

.borda {
    border-top: 2px solid yellow;
}

.logo-baixo {
    height: 100px;
}

/* responsividade */
@media screen and (max-width: 1200px) {
    /* GERAL */

    .flex {
        flex-direction: column;
    }
    h2.titulo {
        
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* topo site */
    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    .topo-do-site h1 {
        font-size: 30px;

    }

    section.topo-do-site .flex {

        gap: 40px;
    }

    section.especialidades {
        padding: 40px 8%;
    }

    /* sobre */
    section.sobre {
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
       
    }
    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width:100% ;
    }
/* portifolio */

section.portifolio{
    padding: 80px 8%;

}

.img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
section.portifolio .flex{
    gap: 60px;
}

/* rodape */

footer .flex{
    flex-direction: column;
    gap: 30px;
}

footer .line-footer{
    text-align: center;
}
}