/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h2.titulo{
color: #fff;
font-size: 38px;
text-align: center;
}
h2.titulo span{
    color: yellow;
}
body{
    background-color: black;
    height: 100;
}
.interface{
  max-width: 1280px;
  margin: 0 auto; 

}
.flex{
    display: flex;

}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: yellow ;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
}

/* estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
   
}

header nav ul li{
    padding:  0 40px;
   display: inline-block;  
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px yellow ;
    transform: scale(1.05);
}

/* estilo do topo do site */
section.topo-do-site{
 padding: 40px 4%;
}
section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    overflow: hidden;
    width: 30ch;
    white-space: nowrap;
    animation: escrever 2s steps(30),piscando 0.5s infinite step-end alternate;
}
.topo-do-site .txt-topo-site h1 span{
    color: yellow;
    font-size: 84px;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
position: relative;
animation: flutuar 2s ease-in-out infinite alternate;
}
/* MAQUINA DE ESCREVER */
@keyframes escrever{
    from{
       width: 0;

    }
   
}
@keyframes piscando{
    50%{
      border-color: transparent;

    }
   
}

/*  */

@keyframes flutuar{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}
/* ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff81;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: yellow;

}
.especialidades .especialidades-box h3{
    font-size:  28px;
    margin: 15px 0;
}